@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+JP:wght@100&family=Poppins:wght@700&family=Sixtyfour&family=Workbench&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+JP:wght@100&family=Poppins:wght@700&family=Sixtyfour&family=Workbench&display=swap");

.result-text {
  font-family: "Gamja Flower", sans-serif;
}

.input-text {
  font-family: "Noto Sans JP", sans-serif;
}

.music-text {
  font-family: "Noto Sans JP", sans-serif;
}
.search-results > .result-text:first-child {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.search-results > .result-text:last-child {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
